In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
voting_df = pd.read_csv('./CyYoung_Voting.csv')
voting_df.head()

,Won,Year,League,Rank,Name,Tm,Vote Pts,1st Place,Share,WAR,...,HR,BB,IBB,SO,HBP,BK,WP,BF,WHIP,ERA+
0,1,2020,AL,1,Shane Bieber,CLE,210,30,100%,3.2,...,7,21,0,122,1,0,5,297,0.866,281
1,0,2020,AL,2,Kenta Maeda,MIN,92,0,44%,1.4,...,9,10,0,80,0,0,0,248,0.750,157
2,0,2020,AL,3,Hyun Jin Ryu,TOR,51,0,24%,2.9,...,6,17,0,72,1,0,1,275,1.149,162
3,0,2020,AL,4,Gerrit Cole,NYY,50,0,24%,2.1,...,14,17,0,94,2,0,2,288,0.959,151
4,0,2020,AL,5,Dallas Keuchel,CHW,46,0,22%,2.1,...,2,17,0,42,0,0,0,257,1.089,221

In [3]:
feature_names = ["IP", 'ER', 'SO', 'SV', "SHO", "W", "L"]
X = voting_df[feature_names]
y = voting_df['Won']

print(X.shape, y.shape)
X

(833, 7) (833,)

        IP  ER   SO  SV  SHO   W   L
0     77.1  14  122   0    0   8   1
1     66.2  20   80   0    0   6   1
2     67.0  20   72   0    0   5   2
3     73.0  23   94   0    1   7   3
4     63.1  14   42   0    0   6   2
..     ...  ..  ...  ..  ...  ..  ..
828  273.1  96  246   0    2  22   9
829  258.0  59  103   0    6  19   7
830  262.1  83  150   0    5  22  10
831  302.1  77  253   0    6  17  15
832  289.1  90  236   0    3  20  13

[833 rows x 7 columns]

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [5]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

X_train_scaled

array([[0.23396979, 0.17518248, 0.26878613, ..., 0.        , 0.2962963 ,
        0.15      ],
       [0.76631519, 0.73722628, 0.6849711 , ..., 0.3       , 0.85185185,
        0.35      ],
       [0.20832146, 0.18248175, 0.07803468, ..., 0.        , 0.33333333,
        0.1       ],
       ...,
       [0.3245939 , 0.21167883, 0.03179191, ..., 0.        , 0.18518519,
        0.15      ],
       [0.54716443, 0.51824818, 0.52601156, ..., 0.2       , 0.66666667,
        0.5       ],
       [0.19093759, 0.10218978, 0.10982659, ..., 0.        , 0.18518519,
        0.2       ]])

In [6]:
## Logistic Regression
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train_scaled, y_train)

print('Accuracy of logistic regression on training', logreg.score(X_train_scaled, y_train))
print('Accuracy of logistic regression on testing', logreg.score(X_test_scaled, y_test))

Accuracy of logistic regression on training 0.8830128205128205
Accuracy of logistic regression on testing 0.8755980861244019

In [7]:
## Decision Tree
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(X_train_scaled, y_train)

print('Accuracy of Decision tree on training', dt.score(X_train_scaled, y_train))
print('Accuracy of Decision tree on testing', dt.score(X_test_scaled, y_test))

Accuracy of Decision tree on training 1.0
Accuracy of Decision tree on testing 0.8708133971291866

In [8]:
# Setting max decision tree depth to help avoid overfitting
dt2 = DecisionTreeClassifier(max_depth=3)
dt2.fit(X_train_scaled, y_train)
print('Accuracy of Decision tree on training', dt2.score(X_train_scaled, y_train))
print('Accuracy of Decision tree on testing', dt2.score(X_test_scaled, y_test))

Accuracy of Decision tree on training 0.9022435897435898
Accuracy of Decision tree on testing 0.8660287081339713

In [9]:
# Linear Discriminant Analysis #Best
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
lda = LinearDiscriminantAnalysis()
lda.fit(X_train_scaled,y_train)
print('Accuracy of lda on training', lda.score(X_train_scaled, y_train))
print('Accuracy of lda on testing', lda.score(X_test_scaled, y_test))

Accuracy of lda on training 0.8990384615384616
Accuracy of lda on testing 0.8947368421052632

In [10]:
# plt.boxplot(lda.score(X_test_scaled, y_test),  showmeans=True)

lda.score(X_test_scaled, y_test)

0.8947368421052632

In [11]:
# Gaussian Naive Bayes 
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train_scaled, y_train)
print('Accuracy of GNB on training', gnb.score(X_train_scaled, y_train))
print('Accuracy of GNB on testing', gnb.score(X_test_scaled, y_test))

Accuracy of GNB on training 0.7868589743589743
Accuracy of GNB on testing 0.7799043062200957

In [12]:
# Support Vector Machine
from sklearn.svm import SVC
svm = SVC()
svm.fit(X_train_scaled, y_train)
print('Accuracy of SVM on training', svm.score(X_train_scaled, y_train))
print('Accuracy of SVM on testing', svm.score(X_test_scaled, y_test))

Accuracy of SVM on training 0.8942307692307693
Accuracy of SVM on testing 0.8947368421052632

In [13]:
import pickle

In [14]:
pickle.dump(lda, open('model.pkl','wb'))

In [15]:
model = pickle.load( open('model.pkl','rb'))

In [20]:
player_options_df = pd.read_csv('./player_options.csv')
player_options_df.head()

player_options_df['W-L'].str.split("-", expand=True)
player_options_df[['W','L']] = player_options_df['W-L'].str.split("-", expand=True)

eval_df = player_options_df[["IP", 'ER', 'K', 'SV', "SHO", "W", "L"]]
eval_df.head()

     IP  ER   K  SV  SHO  W  L
0  48.2   7  72   0    1  5  2
1  19.0   1  37  11    0  4  0
2  47.2   8  50   0    1  5  1
3  64.2  13  92   0    0  6  2
4  53.2  23  59   0    0  6  0

In [43]:
from sklearn.preprocessing import MinMaxScaler

df = pd.DataFrame(eval_df,columns=["IP", 'ER', 'K', 'SV', "SHO", "W", "L"])
df = df.rename(columns = {"K": "SO"})
df
# original_df = X.copy()
# original_df
# reference = original_df.append(df).reset_index()
# reference

# new_df = reference[["IP", 'ER', 'SO', 'SV', "SHO", "W", "L"]]
# new_df

      IP  ER  SO  SV  SHO  W  L
0   42.2   6  62   0    1  5  1
1   25.2   7  18   1    0  6  0
2   18.0   0  36  11    0  3  0
3   40.2   7  46   0    1  4  1
4   47.2  19  50   0    0  5  0
5   57.2  13  85   0    0  5  2
6   58.1  11  59   0    1  4  0
7   21.1   6  38  10    0  1  1
8   60.0  22  47   0    0  6  1
9   18.0   5  28   9    0  1  1
10  53.1  15  55   0    0  8  0
11  23.0   1  31  13    0  2  0
12  59.2  11  67   0    0  4  0
13  20.2   2  16  15    0  0  0
14  54.2  11  69   0    0  4  1
15  42.0   9  42   0    0  5  1
16  53.1  12  48   0    1  4  1
17  51.2  10  65   0    0  6  2
18  63.2  14  88   0    0  5  2
19  40.0   3  65   0    1  3  2

In [19]:
# scaler = MinMaxScaler()
# scaled_df = scaler.fit_transform(new_df)

# scaled_df[842:]

NameError: name 'new_df' is not defined

In [20]:
# for x in range(0, 20):
#     row = [df.iloc[x]]
#     #row = np.array(row)
#     y = model.predict(row)
#     print('Predicted Class: %d' % y[0])

Predicted Class: 1
Predicted Class: 1
Predicted Class: 1
Predicted Class: 1
Predicted Class: 1
Predicted Class: 1
Predicted Class: 1
Predicted Class: 1
Predicted Class: 1
Predicted Class: 1
Predicted Class: 1
Predicted Class: 1
Predicted Class: 1
Predicted Class: 1
Predicted Class: 1
Predicted Class: 1
Predicted Class: 1
Predicted Class: 1
Predicted Class: 1
Predicted Class: 1

In [25]:
from sklearn.ensemble import RandomForestClassifier

In [26]:
rf = RandomForestClassifier(n_estimators=200)
print(X.shape, y.shape)
rf = rf.fit(X, y)
rf.score(X, y)

(833, 7) (833,)

1.0

In [27]:
importances = rf.feature_importances_
importances

array([0.16664918, 0.16984949, 0.22229983, 0.02737947, 0.07513828,
       0.22489695, 0.11378679])

In [28]:
weights = sorted(zip(rf.feature_importances_, feature_names), reverse=True)

In [29]:
# colums = ["Weight", "Feature"]
weights_df = pd.DataFrame(weights, columns = ["Weight", "Feature"])
weights_df

     Weight Feature
0  0.224897       W
1  0.222300      SO
2  0.169849      ER
3  0.166649      IP
4  0.113787       L
5  0.075138     SHO
6  0.027379      SV

In [35]:
player_options_df = pd.read_csv('./player_options.csv')
player_options_df.head()

# player_options_df.head()
popts_df = player_options_df[["PLAYER", "W", "K", "ER", "IP", "L", "SHO", "SV"]]
popts_df.dtypes

PLAYER     object
W           int64
K           int64
ER          int64
IP        float64
L           int64
SHO         int64
SV          int64
dtype: object

In [36]:
points = []

for x in popts_df:
    print(popts_df[x])
    win_points = popts_df["W"] * weights_df["Weight"][0]
    strike_points = popts_df["K"] * weights_df["Weight"][1]
    er_points = popts_df["ER"] * weights_df["Weight"][2]
    ip_points = popts_df["IP"] * weights_df["Weight"][3]
    loss_points = popts_df["L"] * weights_df["Weight"][4]
    sho_points = popts_df["SHO"] * weights_df["Weight"][5]
    sv_points = popts_df["SV"] * weights_df["Weight"][6]
    total_points = win_points + strike_points + er_points + ip_points+loss_points+sho_points+sv_points
    points.append(total_points)

0         Carlos Rodon
1      Aroldis Chapman
2           Lance Lynn
3          Gerrit Cole
4         Nick Pivetta
5         Aaron Civale
6        Tyler Glasnow
7     Andrew Kittredge
8       Yusmeiro Petit
9           John Means
10       Jack Flaherty
11          Alex Reyes
12          Yu Darvish
13       Mark Melancon
14       Kevin Gausman
15         Julio Urias
16       Trevor Rogers
17          Josh Hader
18     Clayton Kershaw
19        Trevor Bauer
Name: PLAYER, dtype: object
0     5
1     4
2     5
3     6
4     6
5     7
6     4
7     5
8     6
9     4
10    8
11    2
12    5
13    0
14    5
15    7
16    6
17    3
18    7
19    5
Name: W, dtype: int64
0     72
1     37
2     50
3     92
4     59
5     53
6     98
7     20
8     18
9     64
10    58
11    36
12    74
13    19
14    76
15    70
16    70
17    35
18    71
19    91
Name: K, dtype: int64
0      7
1      1
2      8
3     13
4     23
5     23
6     20
7      3
8     10
9     13
10    18
11     2
12    12
13     2
14    11
15    21
16    11
17     2
18    21
19    16
Name: ER, dtype: int64
0     48.2
1     19.0
2     47.2
3     64.2
4     53.2
5     68.0
6     70.0
7     23.0
8     26.2
9     65.1
10    57.0
11    26.0
12    61.2
13    22.1
14    64.2
15    62.1
16    56.2
17    19.2
18    64.1
19    69.2
Name: IP, dtype: float64
0     2
1     0
2     1
3     2
4     0
5     1
6     2
7     0
8     0
9     0
10    1
11    1
12    1
13    0
14    0
15    1
16    2
17    0
18    3
19    3
Name: L, dtype: int64
0     1
1     0
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9     1
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
Name: SHO, dtype: int64
0      0
1     11
2      0
3      0
4      0
5      0
6      0
7      2
8      1
9      0
10     0
11    14
12     0
13    17
14     0
15     0
16     0
17    11
18     0
19     0
Name: SV, dtype: int64

In [37]:
len(points)

# points[0]

8

In [38]:
popts_df["Points"] = points[0]

In [39]:
popts_df = popts_df.sort_values(by = ["Points"], ascending=False)
popts_df

popts_df.to_csv("player_options.csv", index=False)

In [22]:
from sqlalchemy import create_engine
#Connect to DB
connection_string = "postgres:@localhost:5432/final_cy"
engine = create_engine(f'postgresql://{connection_string}')

In [53]:
engine.table_names()

voting_df = voting_df.rename(columns = {"Won": "won", "Year": "year", "League": "league", "Rank": "rank", "Name": "name",
                            "Tm": "team", "Vote Pts": "points", "1st Place": "first_place", "Share": "share",
                            "WAR": "war", "W": "wins", "L": "losses", "W-L%": "win_loss", "ERA": "era",
                            "G": "games", "GS": "games_started", "GF": "games_finished", "CG": "complete_games",
                            "SHO": "shutouts", "SV": "saves", "IP": "innings_pitched", "H": "hits", "R": "runs", 
                            "ER": "earned_runs", "HR": "home_runs", "BB": "walks", "IBB": "intentional_walks",
                            "SO": "strikeouts", "HBP": "hit_by_pitch", "BK": "balks", "WP": "wild_pitches",
                            "BF": "batters_faced", "WHIP": "whip", "adjusted_ERA": "adjusted_era"})
voting_df
voting_df['adjusted_era'].dtypes

# # voting_df['share'] = [x.strip('%') for x in voting_df['share']]
# voting_df.describe

#Load data using pandas
voting_df.to_sql(name="cy_voting", con=engine, if_exists='append', index=False)

In [55]:
voting_df.describe

<bound method NDFrame.describe of      won  year league  rank            name team  points  first_place share  \
0      1  2020     AL     1    Shane Bieber  CLE     210           30   100
1      0  2020     AL     2     Kenta Maeda  MIN      92            0    44
2      0  2020     AL     3    Hyun Jin Ryu  TOR      51            0    24
3      0  2020     AL     4     Gerrit Cole  NYY      50            0    24
4      0  2020     AL     5  Dallas Keuchel  CHW      46            0    22
..   ...   ...    ...   ...             ...  ...     ...          ...   ...
828    1  1967     AL     1     Jim Lonborg  BOS      18           18    90
829    0  1967     AL     2      Joe Horlen  CHW       2            2    10
830    1  1967     NL     1  Mike McCormick  SFG      18           18    90
831    0  1967     NL     2     Jim Bunning  PHI       1            1     5
832    0  1967     NL     2  Fergie Jenkins  CHC       1            1     5

     war  ...  home_runs  walks  intentional_walks  strikeouts  hit_by_pitch  \
0    3.2  ...          7     21                  0         122             1
1    1.4  ...          9     10                  0          80             0
2    2.9  ...          6     17                  0          72             1
3    2.1  ...         14     17                  0          94             2
4    2.1  ...          2     17                  0          42             0
..   ...  ...        ...    ...                ...         ...           ...
828  4.0  ...         23     83                  5         246            19
829  5.5  ...         13     58                  4         103             4
830  4.4  ...         25     81                 18         150             5
831  7.8  ...         18     73                 20         253            13
832  5.0  ...         30     83                  8         236             4

     balks  wild_pitches  batters_faced   whip  adjusted_era
0        0             5            297  0.866           281
1        0             0            248  0.750           157
2        0             1            275  1.149           162
3        0             2            288  0.959           151
4        0             0            257  1.089           221
..     ...           ...            ...    ...           ...
828      1            12           1130  1.138           112
829      0             5            995  0.953           146
830      0             9           1073  1.147           118
831      1             4           1216  1.039           149
832      0             2           1156  1.082           127

[833 rows x 34 columns]>